*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}


body{
    background-color: #222;
}
.card{
    width: 30%;
    
    background: linear-gradient(135deg,#00feba,#5b548a);
    margin: 100px auto 0 ;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    padding: 40px;
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    border: none;
    width: 100%;
    outline: none;
    height: 60px;
    border-radius: 30px;
    color: #555;
    background-color: #efff;
    font-size: 17px;
    padding:0 0 0 20px ;

}

.search-box  button {
    background-color: #efff;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 20%;
    height: 60px;
    margin-left: 20px;
    cursor: pointer;
    
}
.search-box  button img {
    width: 16px;
}

.weather{
    font-size: 20px;
    width: 70%;
    margin: 20px auto;
}
.weather img{
    width: 80%;
}

.city-name{
    font-size: 50px;
    margin: 15px auto;
}

.details {display: flex;

justify-content: space-around;
padding: 10px;

}
.humidity, .wind{
    display: flex;
    height: 60px;
    
}
.humidity img , .wind img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
